language: php
sudo: false

jobs:
  include:
    - php: 7.3
      env: PHPUNIT_SUITE=Unit
    - php: 7.4
      env: PHPUNIT_SUITE=All PHPSPEC=false

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist

script:
  - ./phpspec.sh
  - vendor/bin/phpunit --verbose --testsuite $PHPUNIT_SUITE
